<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Filter List</title>
</head>

<body>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for car names..">

    <ul id="myUL">
        <li><a href="#">Jaguar</a></li>
        <li><a href="#">Unique</a></li>
        <li><a href="#">Pagani</a></li>
        <li><a href="#">Campagna</a></li>
        <li><a href="#">Alfa Romeo</a></li>
        <li><a href="#">Elfin</a></li>
        <li><a href="#">Ferrari</a></li>
        <li><a href="#">NIE</a></li>
        <li><a href="#">Volkswagen</a></li>
        <li><a href="#">Suzuki</a></li>
        <li><a href="#">Audi</a></li>
        <li><a href="#">Opel</a></li>
        <li><a href="#">Volvo</a></li>
        <li><a href="#">Mitsubishi</a></li>
        <li><a href="#">Lobini</a></li>
        <li><a href="#">Maserati</a></li>
        <li><a href="#">Callaway</a></li>
        <li><a href="#">Seat</a></li>
        <li><a href="#">Gumpert</a></li>
        <li><a href="#">Chevrolet</a></li>
        <li><a href="#">Chrysler</a></li>
        <li><a href="#">Skoda</a></li>
        <li><a href="#">Cadillac</a></li>
        <li><a href="#">Corvette</a></li>
        <li><a href="#">Noble</a></li>
        <li><a href="#">Tata</a></li>
        <li><a href="#">Honda</a></li>
        <li><a href="#">BMW</a></li>
        <li><a href="#">Ford</a></li>
        <li><a href="#">Dodge</a></li>
        <li><a href="#">Humer</a></li>
        <li><a href="#">Holden</a></li>
        <li><a href="#">Bristol</a></li>
        <li><a href="#">Porsche</a></li>
        <li><a href="#">Maybach</a></li>
        <li><a href="#">Lotus</a></li>
        <li><a href="#">Toyota</a></li>
        <li><a href="#">MB Roadcars</a></li>
        <li><a href="#">Superformance</a></li>
        <li><a href="#">Ascari</a></li>
        <li><a href="#">Mini</a></li>
        <li><a href="#">Kia</a></li>
        <li><a href="#">Aston Martin</a></li>
        <li><a href="#">Peugeot</a></li>
        <li><a href="#">Saab</a></li>
        <li><a href="#">Renault</a></li>
        <li><a href="#">LandRover</a></li>
        <li><a href="#">Saturn</a></li>
        <li><a href="#">Smart</a></li>
        <li><a href="#">Perodua</a></li>
        <li><a href="#">Radical</a></li>
        <li><a href="#">Ariel</a></li>
        <li><a href="#">Brooke</a></li>
        <li><a href="#">Ssangyong</a></li>
        <li><a href="#">Marcos</a></li>
        <li><a href="#">Invicta</a></li>
        <li><a href="#">Subaru</a></li>
        <li><a href="#">Alpina</a></li>
        <li><a href="#">Proton</a></li>
        <li><a href="#">Isuzu</a></li>
        <li><a href="#">Koenigsegg</a></li>
        <li><a href="#">Fiat</a></li>
        <li><a href="#">Lexus</a></li>
        <li><a href="#">Tesla</a></li>
        <li><a href="#">SSC</a></li>
        <li><a href="#">Hyundai</a></li>
        <li><a href="#">Mazda</a></li>
        <li><a href="#">Spyker</a></li>
        <li><a href="#">Jeep</a></li>
        <li><a href="#">Rolls-Royce</a></li>
        <li><a href="#">TVR</a></li>
        <li><a href="#">Morgan</a></li>
        <li><a href="#">Citroen</a></li>
        <li><a href="#">Mercedes-Benz</a></li>
        <li><a href="#">Westfield</a></li>
        <li><a href="#">Nissan</a></li>
        <li><a href="#">Caerham</a></li>
        <li><a href="#">Daihatsu</a></li>
        <li><a href="#">Lamborghini</a></li>
        <li><a href="#">Shelby</a></li>
        <li><a href="#">Vauxhal</a></li>
        <li><a href="#">Bentley</a></li>
    </ul>
    <script src="script.js"></script>
</body>

</html>